body{
    margin: 0;
    background-color: #E5E8E8;
    color: #E5E8E8;
}
img{
    width: 100%;
    height: 150px;
    margin: auto;
    border-radius: 5px;
}
p{
    float: right;
    width: 48%;
    margin: 0px;
}
.animal-info{
    width: 48%;
    height: 500px;
    margin: 5px;
    border-radius: 5px;
    float: left;
}

.clearfix {
    overflow: auto;
}

.container{
    margin: auto;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 7px;
    text-align: left;
}

.container-info{
    margin: auto;
    background: #fff;
    padding: 10px;
    width: 60%;
    border-radius: 7px;
    text-align: left;
}

.animal{
    margin: 15px;
    padding: 10px;
    width: 100%;
    background: #34495E;
    border-radius: 10px;
    box-shadow: 5px 8px 5px #888888;
    flex-basis: 200px;
    text-align: center;
}
.backlink{
    color:#34495E;
}

a:link{
    text-decoration: none;
}
a{
    color: #E5E8E8;
}

.adminlinks{
    padding: 5px;
}
.adminlinks:hover{
    background-color: #E5E8E8;
    color: #34495E;
    border-radius: 5px;
}

.banner{
    background-color: #34495E;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
}
.banner h2{
    padding-top: 7px;
    padding-left: 10px;
    color: #E5E8E8;
}

.login{
    margin: 15px;
    padding: 10px;
    background: #34495E;
    border-radius: 10px;
    box-shadow: 5px 8px 5px #888888;
    text-align: center;
}
.login input{
    margin: 5px;
}
input[type=text] {
    border: 2px solid #E5E8E8;
    border-radius: 5px;
    font-size: 18px;
}
input[type=password] {
    border: 2px solid #E5E8E8;
    border-radius: 5px;
    font-size: 18px;
}

.button{
    width: 300px;
    border: #34495E;
    background-color: #E5E8E8;
    color: #34495E;
    font-size: 18px;
    border-radius: 5px;
}
.button:hover {
    background-color: #34495E; /* Green */
    color: #E5E8E8;
    border:2px solid #E5E8E8;
}

#select-width{
    width:60%;
    height:240px;
    margin: auto;
    margin-top: 60px;
    padding-top: 50px;
}



