<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>We love Animals</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="banner">
    <h1><a th:href="@{'/'}" class="adminlinks">Home |</a></h1>
    <h2><a th:href="@{'/login'}" class="adminlinks"> Admin Login</a></h2>
</div>
    <div class="container-info">
        <div class="animal clearfix">
            <h1 th:text="${name}">default</h1>
            <img class="animal-info" th:src="@{'data:image/jpeg;base64,'+${img}}" >
            <p th:text="${desc}"></p>
        </div>
    </div>
</body>
</html>