<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>We love Animals</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <h1>Animals</h1>
    <div class="container">
        <div class="animal" th:each="animal : ${word}" >
            <a th:href="@{'/animal/' + ${animal.getName()}}">
                <h3 th:text="${animal.getName()}">default</h3>
                <p th:text="${animal.getDescription()}">default</p>
            </a>
        </div>
    </div>
</body>
</html>