<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>We love Animals</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <h1>Animals</h1>
    <h1><a th:href="@{'/login'}">Admin Login</a></h1>
    <div class="container">
        <div class="animal" th:each="animal : ${word}" >
           <!-- <img th:src="@{'/css/img/'+ ${animal.getImage()} + '.jpg'}" > -->
            <img th:src="@{${animal.getImage()}}" >
            <a th:href="@{'/animal/' + ${animal.getName()}}">
                <h3 th:text="${animal.getName()}">default</h3>
            </a>
        </div>
    </div>
</body>
</html>